spring:
  application:
    name: "gatewayserver"
  config:
    import: "configserver:http://localhost:8071/"
  main:
    web-application-type: reactive
  cloud:
    gateway:
      server:
        webflux:
          discovery:
            locator:
              enabled: true
          globalcors:
            cors-configurations:
              '[/**]':
                allowedOrigins: "*"
                allowedMethods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                  - OPTIONS
                  - PATCH
                allowedHeaders: "*"
  data:
    redis:
      host: localhost
      port: 6379
  cache:
    type: redis

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      access: unrestricted
  info:
    env:
      enabled: true

info:
    app:
        name: "${spring.application.name}"
        description: "Gateway Server Application"
        version: "1.0.0"